<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
</head>

<body>

    <div class="grid-container">
        <section id="page">
            <main>
                <h2 id='sec-6'>Awards</h2>
                <table>
                    <tr>
                        <td>Governor Thomas Carleton Scholarship (2017-2018)</td>
                    </tr>
                </table>

            </main>
        </section>

    </div>
</body>

</html>