<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
</head>

<body>

    <div class="grid-container">
        <section id="page">
            <main>
                <div id="main" class="main">
                    <h2 id='sec-1'>Contact Information</h2>
                    <table>
                        <tr>
                            <th>Email:</th>
                            <td>khawkin2@unb.ca</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td> (506) 470-7222</td>
                        </tr>
                        <tr>
                            <th>Social:</th>
                            <td><a href="https://www.linkedin.com/in/kayla-manahan-274012193/">LinkedIn</a></td>
                        </tr>
                    </table>

                </div>
            </main>
        </section>

    </div>
</body>

</html>