<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="grid-container">
        <main>
            <h2 id='../resume/templates/education.html'>Education</h2>
            <table>
                <tr>
                    <td>Bachelor of Computer Science, University of New Brunswick (2017-Present)</td>
                </tr>
                <tr>
                    <td>High School Diploma, Fredericton High School (2013-2017)</td>
                </tr>
            </table>
        </main>
    </div>
</body>

</html>