<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <script src="https://kit.fontawesome.com/d36a4059fd.js" crossorigin="anonymous"></script>
    <link href="../styles/education.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../scripts/script.js"></script>
</head>

<body>

    <div class="grid-container">
        <button id="return-button" onclick="loadPage('../index.html')">
            <span class="sidebar-icon"><i class='fas fa-arrow-alt-circle-left'></i></span>
        </button>
        <header>
            <h1>Kayla Manahan</h1>
            <img id='headshot' src="../images/headshot.jpeg" alt="Image of Kayla Manahan">
            <h2 id='../resume/templates/education.html'>Education</h2>
        </header>
        <main>
            <ul>
                <li><strong>Bachelor of Computer Science</strong>, <a class="education-link" href="https://www.unb.ca/">University of New Brunswick</a> (2017-Present)</li>
                <li><strong>High School Diploma</strong>, <a class="education-link" href="https://secure1.nbed.nb.ca/sites/ASD-W/FrederictonHigh/Pages/default.aspx">Fredericton High School</a> (2013-2017)</li>
            </ul>
        </main>
    </div>
</body>

</html>