<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <script src="https://kit.fontawesome.com/d36a4059fd.js" crossorigin="anonymous"></script>
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../scripts/script.js"></script>
</head>

<body>

    <div class="grid-container">
        <main>
            <button id="return-button" onclick="loadPage('../index.html')">
                <span class="sidebar-icon"><i class='fas fa-arrow-alt-circle-left'></i></span>
            </button>
            <h2 id='../resume/templates/references.html'>References</h2>
            <table>
                <tr>
                    <td>Available upon request</td>
                </tr>
            </table>
        </main>
    </div>
</body>

</html>