<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
</head>

<body>

    <div class="grid-container">
        <section id="page">
            <main>
                <div id="main" class="main">

                    <h2 id='sec-7'>References</h2>
                    <table>
                        <tr>
                            <td>Available upon request</td>
                        </tr>
                    </table>
                </div>
            </main>
        </section>

    </div>
</body>

</html>