<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <script src="https://kit.fontawesome.com/d36a4059fd.js" crossorigin="anonymous"></script>
    <link href="../styles/skills.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../scripts/script.js"></script>
</head>

<body>

    <div class="grid-container">
        <button id="return-button" onclick="loadPage('../index.html')">
            <span class="sidebar-icon"><i class='fas fa-arrow-alt-circle-left'></i></span>
        </button>
        <header>
            <h1>Kayla Manahan</h1>
            <img id='headshot' src="../images/headshot.jpeg" alt="Image of Kayla Manahan">
            <h2 id='../resume/templates/skills.html'>Skills</h2>
        </header>
        <main>
            <span><strong>Programming Languages</strong></span>
            <ul>
                <li>Java / Rust / C</li>
                <li>HTML / CSS / JavaScript</li>
                <li>Python / Ruby</li>
                <li>SQL</li>
            </ul>
            <span><strong>Operating Systems</strong></span>
            <ul>
                <li>Windows</li>
                <li>Linux</li>
                <li>MacOS</li>
                <li>Android / iOS</li>
            </ul>
        </main>
    </div>
</body>

</html>