<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="grid-container">
        <section id="page">
            <main>
                <div id="main" class="main">
                    <h2 id='../resume/templates/skills.html'>Skills</h2>
                    <table>
                        <tr>
                            <th>Programming Languages</th>
                        </tr>
                        <tr>
                            <td>Java / Rust / C</td>
                        </tr>
                        <tr>
                            <td>HTML / CSS / JavaScript</td>
                        </tr>
                        <tr>
                            <td>Python / Ruby</td>
                        </tr>
                        <tr>
                            <td>SQL</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>Operating Systems</th>
                        </tr>
                        <tr>
                            <td>Windows</td>
                        </tr>
                        <tr>
                            <td>Linux</td>
                        </tr>
                        <tr>
                            <td>MacOS</td>
                        </tr>
                        <tr>
                            <td>Android / iOS</td>
                        </tr>
                    </table>
                </div>
            </main>
        </section>

    </div>
</body>

</html>