<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <script src="https://kit.fontawesome.com/d36a4059fd.js" crossorigin="anonymous"></script>
    <link href="../styles/volunteer.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../scripts/script.js"></script>
</head>

<body>

    <div class="grid-container">
        <button id="return-button" onclick="loadPage('../index.html')">
            <span class="sidebar-icon"><i class='fas fa-arrow-alt-circle-left'></i></span>
        </button>
        <header>
            <h1>Kayla Manahan</h1>
            <img id='headshot' src="../images/headshot.jpeg" alt="Image of Kayla Manahan">
            <h2 id='../resume/templates/volunteer.html'>Volunteer Experience</h2>
        </header>
        <main>
            <table>
                <span><strong>CS House Leader</strong>, UNB Fredericton (September 2020-April 2021)</span>
                <ul>
                    <li>Helping first year students adjust to university life.</li>
                    <li>Sending reminders for events.</li>
                    <li>Directing students to proper campus resources. (ex. Counselling)</li>
                </ul>
            </table>
        </main>
    </div>
</body>

</html>