<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
</head>

<body>

    <div class="grid-container">
        <section id="page">
            <main>
                <div id="main" class="main">
                    <h2 id='sec-5'">Volunteer Experience</h2>
                    <table>
                        <tr>
                            <th>CS House Leader, UNB Fredericton (September 2020-April 2021)</th>
                        </tr>
                        <tr>
                            <td>Helping first year students adjust to university life.</td>
                        </tr>
                        <tr>
                            <td>Sending reminders for events</td>
                        </tr>
                        <tr>
                            <td>Directing students to proper campus resources. (ex. Counselling)</td>
                        </tr>
                    </table>

                </div>
            </main>
        </section>

    </div>
</body>

</html>