<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="grid-container">
        <main>
            <h2 id='../resume/templates/volunteer.html'>Volunteer Experience</h2>
            <table>
                <tr>
                    <th>CS House Leader, UNB Fredericton (September 2020-April 2021)</th>
                </tr>
                <tr>
                    <td>Helping first year students adjust to university life.</td>
                </tr>
                <tr>
                    <td>Sending reminders for events</td>
                </tr>
                <tr>
                    <td>Directing students to proper campus resources. (ex. Counselling)</td>
                </tr>
            </table>
        </main>
    </div>
</body>

</html>