<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="grid-container">
        <section id="page">
            <main>
                <h2 id='../resume/templates/work.html'>Work Experience</h2>
                <table>
                    <tr>
                        <th>Software Engineer, Sedin Technologies (May 2021-August 2021)</th>
                    </tr>
                    <tr>
                        <td>Self-driven environment.</td>
                    </tr>
                    <tr>
                        <td>Assisted in the development of an API service with Slack integration using Rust.</td>
                    </tr>
                    <tr>
                        <td>Implemented many open-source crates from the community.</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>SCRUM Software Engineer, Introhive (September 2019-December 2019)</th>
                    </tr>
                    <tr>
                        <td>Fast-paced environment.</td>
                    </tr>
                    <tr>
                        <td>Fixed defects and assisted with testing new features.</td>
                    </tr>
                    <tr>
                        <td>Regular regression testing.</td>
                    </tr>
                </table>
            </main>
        </section>

    </div>
</body>

</html>