<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Kayla Manahan's Resume</title>
    <script src="https://kit.fontawesome.com/d36a4059fd.js" crossorigin="anonymous"></script>
    <link href="../styles/work.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../scripts/script.js"></script>
</head>

<body>

    <div class="grid-container">
        <button id="return-button" onclick="loadPage('../index.html')">
            <span class="sidebar-icon"><i class='fas fa-arrow-alt-circle-left'></i></span>
        </button>
        <header>
            <h1>Kayla Manahan</h1>
            <img id='headshot' src="../images/headshot.jpeg" alt="Image of Kayla Manahan">
            <h2 id='../resume/templates/work.html'>Work Experience</h2>
        </header>
        <main>
            <span><strong>Software Engineer, Sedin Technologies (May 2021-August 2021)</strong></span>
            <ul>
                <li>Self-driven environment.</li>
                <li>Assisted in the development of an API service with Slack integration using Rust.</li>
                <li>Implemented many open-source crates from the community.</li>
            </ul>
            <span><strong>SCRUM Software Engineer, Introhive (September 2019-December 2019)</strong></span>
            <ul>
                <li>Fast-paced environment.</li>
                <li>Fixed defects and assisted with testing new features.</li>
                <li>Regular regression testing.</li>
            </ul>
        </main>
    </div>
</body>

</html>