html {
    font-size: 12px;
    font-family: 'Courier New', monospace;
    scroll-behavior: smooth;
    background-color: #2d2b28;
}

table {
    width: fit-content;
}

h1 {
    font-size: 45px;
    margin: 0;
    padding: 20px 0;
    color: #2469ab;
    word-break: break-word;
}

h2 {
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #102459;
    word-break: break-word;
}

h3, th, td, th {
    font-size: 16px;
    flex-wrap: auto;
    text-align: left;
    margin: 0;
    padding: 0;
    word-break: break-word;
}
  
p, ul, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-word;
    list-style-type: none;
}
  
body {
    width: 100%;
    align-content: center;
}

main {
    margin: 1%;
}

section {
    display: grid;
}

.toc {
	display: grid;
	border-radius: 5px; 
    width: fit-content;
    padding-right: 0.2%;
    background-color: lightblue;
}

.header {
    grid-area: header;
    text-align: center;
    margin: 1%;
    background-color: lavenderblush;
}
.main {
    grid-area: main;
    background-color: azure;
    padding: 0.1%;
}

.grid-container {
    display: grid;
}

#page {
    display: grid;
    grid-template-areas:
        'h'
        'm';
    padding: 5px;
}

#page > header {
    grid-area: h;
    align-content: center;
}

#page > main {
    grid-area: m;
    align-content: stretch;
}

img {
    width: 15%;
    max-width: 150px;
    min-width: 100px;
    height: auto;
    border-radius: 50%;
}