$primary-accent: #fff0f5;
$secondary-accent: #a56d7f;
$title-colour: #2469ab;
$h2-colour: #102459;
$dark-text: #101010;
$light-text: #efefef;

:root {
    font-size: 16px;
    font-family: 'Courier New', monospace;
    word-break: break-word;
    scroll-behavior: smooth;
    margin: 1%;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2vw;
}

main {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 10px;
    grid-row: 2;
    word-wrap: break-word;
}

body {
    align-content: center;
    background-color: #ffffff;
}

header {
    grid-column: 1/13;
    grid-row: 1;
    text-align: center;
    margin: 1% 0;
    padding: 5px 0px;
    background-color: $primary-accent;
}

h1 {
    font-size: 45px;
    margin: 0;
    padding: 0;
    color: $title-colour;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: $h2-colour;
    text-align: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-row: 2;
}

#return-button {
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    align-self: flex-start;
    background: transparent;
    border: none;
    cursor: pointer;
}

.flex-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.social-buttons {
    width: 58px;
    height: 58px;
    padding: 0;
    background: transparent;
    border: none;
}

.social-buttons:hover {
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid $secondary-accent;
}

.toc {
    display: grid;
    grid-column: 1/3;
    grid-row: 2;
    row-gap: 20px;
    grid-template-columns: 1fr 3fr;
    position: sticky;
    width: 100%;
}

.toc-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.toc-list:hover {
    cursor: pointer;
}

#toc-header {
    text-align: left;
    font-size: 20px;
}

#headshot {
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    height: auto;
    border-radius: 50%;
}

/* 

        Responsive Design

*/

@media screen and (min-width: 1416px){
    main {
        grid-column: 3/13;
    }
    
    .sidebar {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 1415px){
    main {
        grid-column: 5/13;
    }

    .sidebar {
        grid-column: 1/5;
    }
}

@media screen and (max-width: 675px){
    main {
        grid-column: 7/13;
    }

    .sidebar {
        grid-column: 1/7;
    }
}

@media screen and (max-width: 450px){
    main {
        grid-column: 1/13;
        grid-row: 3;
        align-items: center;
        justify-content: center;
    }

    .random-bg {
        align-self: center;
    }

    .sidebar {
        grid-column: 1/13;
    }
}

/* 

        Handling specific cursor events

*/

// Table of Contents Buttons

a {
    &:link, &:visited {
        background-color: $primary-accent;
        color: $dark-text;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
      
    &:hover {
        background-color: $secondary-accent;
        color: $light-text;
    }
}

//button style
button {
    font-family: inherit;

    background-color: $primary-accent;
    border: 2px solid $secondary-accent;
    color: $dark-text;

    text-align: center;
    align-self: flex-start;

    max-width: 206px;
    height: 30px;

    padding: 5px 5px;
    text-decoration: none;
    word-wrap: break-word;

    &:hover {
        cursor: pointer;
        color: $light-text;
        background-color: $secondary-accent;
        border: 2px solid $primary-accent;
    }
}
